body {
	background: #d1defa;
	font-family: sans-serif, Arial, Helvetica;
	text-align: center;
	padding: 0;
	margin: 0;
}

.layout {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-areas:
		"header header header header"
		"nav nav nav nav"
		"content content content lateral"
		"footer footer footer footer";
	grid-template-rows: 100px 70px auto 70px;
}

/* estilos del HEADER */
.header {
	grid-area: header;
	background: #fff;
	text-align: left;
	font-style: italic;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 20px;
}

.logo {
	background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
	width: 40px;
	height: 40px;
	border-radius: 300px;
}

.play {
	width: 0;
	height: 0;
	margin-top: 15px;
	margin-left: 16px;
	border-left: 12px solid white;
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
}

/* estilos de la BARRA DE NAVEGACION */
.nav {
	grid-area: nav;
	background: linear-gradient(90deg, #03228f 10%, #0e73e4 100%);
}
.nav > ul {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}
.nav > ul > li {
	padding: 10px;
}
.nav a {
	display: block;
	margin-left: 30px;
	margin-right: 30px;
	font-size: 18px;
	font-family: lighter;
	color: #fff;
	text-decoration: none;
	transition: all 300ms;
}
.nav a:hover {
	transform: scale(1.1, 1.1);
}

/* estilos del CONTENIDO PRINCIPAL */
.content {
	grid-area: content;
	background: #f6f7f9;
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
}

.peli-item {
	flex-grow: 1;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #ddd;
	margin: 20px;
	padding: 60px 25px;
}

button,
input[type="submit"],
input[type="button"] {
	width: 100px;
	background: #0e73e4;
	color: #fff;
	border: 0;
	outline: 0;
	padding: 15px;
	border-radius: 3px;
	margin-top: 15px;
	text-transform: capitalize;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: all 300ms;
}
.peli-item .edit {
	margin-right: 7px;
}
.peli-item .edit:hover {
	background: #e77b00;
}

.peli-item .delete:hover {
	background: #9b0202;
}

/* estilos BARRA LATERAL */
.lateral {
	grid-area: lateral;
	background: #f6f7f9;
	border-left: 1px solid #ddd;
	padding: 20px;
}

.lateral > div {
	box-sizing: border-box;
	width: 90%;
	margin: 20px;
	padding: 20px;
	padding-top: 10px;
	background: #fff;
	border-radius: 10px;
	box-shadow: 0px 0px 6px #ddd;
}

.lateral input[type="text"],
.lateral input[type="text"],
.lateral textarea,
.edit_form input[type="text"],
.edit_form input[type="text"],
.edit_form textarea {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	padding: 12px;
	border-radius: 5px;
	background: #f6f7f9;
	color: #454545;
	width: 80%;
	opacity: 4;
	outline: 0;
	border-color: transparent;
}

.edit_form {
	border-top: 1px solid #ddd;
	margin-top: 10px;
}

/* estilos para el FOOTER */
.footer {
	grid-area: footer;
	background: #d1defa;
	color: #454545;
	border-top: 1px solid #fff;
	text-align: left;
	line-height: 68px;
	padding-left: 25px;
}

.footer a {
	color: #0b468a;
	text-decoration: none;
}

@media (max-width: 1085px) {
	.content {
		flex-flow: column wrap;
		justify-content: center;
		align-items: center;
	}
	.peli-item {
		width: 80%;
	}
}

.no-encontrado {
	color: #9b0202;
}
